<html>
  <div>Let's battle!</div>
  <form method="POST" action="/names">
    <input id="character_text" type="text" name="player_one" placeholder="Ryu">
    <input id="character_text" type="text" name="player_two" placeholder="Blanka">
    <input type="submit" value="Fight!">
  </form>
</html>
