<html>
  <div align="left">Player One: <%= @one %> VS Player Two: <%= @two %></div>
  <div><%= @two %> HP: 100</div>

  <form action='/attack'>
    <input type='submit' value='Attack!'>
  </form>
</html>
