<html>
  <div align="left">Player One: <%= @one %> </div>
  <div>HP: 100</div>
  <p align="center">VS</p>
  <div align="right">Player Two: <%= @two %></div>
  <div align="right">HP: 100</div>
</html>
